body, html {
  height: 100%;
  margin:0;
  padding:0;
}

fieldset{
	border: none;
}

.icon{
	display:block;
	cursor: pointer;
	text-indent: -9999px;
}

.floatLeft{
	float:left;
}

.clearFix{
	clear: both;
}

.bouton{
	padding: 5px 10px;
}

#conteneur_webview{
	position: relative;
}

#conteneur_webview, #webview{
	width:100%;
	height:100%;
	box-sizing: border-box;
	padding-top:0;
}

#open_menu{
	display: none;
	position: absolute;
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	margin-top:7.5px;
	margin-left: 1.5px;
	background: url(../images/bottom_arrow.png) no-repeat center center;
	background-size: 100%; 
	cursor: pointer;
}

#header{
	display: none;
	position: absolute;
	width:100%;
	height:0;
	line-height: 35px;
	vertical-align: middle;
	box-sizing: border-box;
	padding-left:45px;
	border-top:1px solid #3d3d3d;
	border-bottom:1px solid #000;
	background: #3d3d3d;
}

#header a{
	position: absolute;
	z-index: 999;
	display: block;
	background-size: 100%; 
	text-decoration: none;
	color:#bbb;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 1.2em;
}

#header #reglages{
	margin-left:100px;
	padding-left: 28px;
	height: 25px;
	line-height: 25px;
	margin-top: 2.5px;
	background: url(../images/settings.png) no-repeat center left;
	cursor: pointer;
}

#header #pause{
	padding-left: 28px;
	height: 25px;
	line-height: 25px;
	margin-top: 2.5px;
	background: url(../images/pause.png) no-repeat center left;
	cursor: pointer;
}

#pannel_reglages{
	display: none;
	position: absolute;
	box-sizing: border-box;
	padding:15px;
	margin-left:10%;
	margin-top:10%;
	z-index: 9999;
	background: #FFF;
	width: 80%;
	min-height: 150px;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.4);
	box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.4);
}

#pannel_reglages .close{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	background: url(../images/close.png) no-repeat center center;
}

.background{
	display: none;
	position: absolute;
	top:0;
	left:0;
	z-index: 9888;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

#enregistrement_reglages{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.bubble{
	display: none;
	position: absolute;
	padding: 10px;
	z-index: 9999;
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.bubble:after{
	content: "";
	position: absolute;
	top: -10px;
	left: 5px;
	border-style: solid;
	border-width: 0 10px 15px;
	border-color: #FFF transparent;
	display: block;
	width: 0;
	z-index: 1;
}

#bubble_parametres{
	top : 40px;
	left: 0px;
	width: 200px;
}