.front-container{
	min-width: 0;
	min-height: 0;
}

/* Header */
.topbar{
	/*display: none;*/
}

.topbar .global-nav .container{
	width: 400px;
	min-width: 0;
}

.topbar .global-nav{
	width: 440px;
	/*overflow: hidden;*/
}

.topbar .pull-right{
	width: 175px;
}

/*
.topbar div[role="navigation"]{
	display:none;
}
*/

.topbar h1.bird-topbar-etched{
	display: none !important;
}

/*
.topbar .pull-right div[role="search"]{
	display: none;
}
*/

.topbar .topbar-divider{
	display: none;
}

.dropdown-menu{

}

.pull-right .nav{
	/*display:none;*/
	margin-right: 0px !important;
}

.form-search{
	margin-right: 10px !important;
}


#signout-button{
	display: none;
}

.global-nav .form-search .dropdown-menu{
	left: -150px !important;
}

.global-nav .form-search .dropdown-menu .dropdown-caret{
	display: none;
}

/* Footer */
.footer{
	display: none;
}

/* Connexion / Inscription */
.front-welcome{
	display:none;
}

.front-card{
	position: relative;
	margin: 0 auto;
	width: 400px;
	top: 0;
	left: 0;
}

.front-signin {
    position: relative;
    margin: 65px auto 0 auto;
    top: 0;
    left: 0;
}

.front-signup {
    position: relative;
    margin: 35px auto 0 auto;
    top: 0;
    left: 0;
}

/* Page principale */
.wrapper, .wrapper-narrow, .wrapper-permalink{
	width: 400px;
}

.dashboard{
	display: none;
}

.content-main {
	float: none;
	width: 400px;
	margin: 0 auto;
}

#global-tweet-dialog-dialog{
	width: 400px;
}

#tweet-box-global{
	width: 350px;
}

.geo-picker{
	width: 150px;
}

.gallery-container .swift-media-gallery{
	width: 400px !important;
	min-width: 0;
}

.media-image{
	max-width: 380px !important;
	margin-top:10px !important;
}

#profile_popup #profile_popup-dialog{
	width: 400px !important;
}

.profile-card.profile-header{
	width: 400px !important;
}

.twttr-dialog, .dm-dialog{
	width: 400px !important;
	min-width: 0 !important;
}

.dm-dialog .dm-tweetbox .tweet-content .tweet-box#tweet-box-dm-conversation{
	width: 352px !important;
}

#keyboard-shortcut-dialog-dialog{
	width:400px !important;
}

.inline-reply-tweetbox.swift .tweet-box{
	width: 300px !important;
}

#close-all-button{
	right: -15px;
}

.topbar-tweet-btn{
	margin-right: 20px !important;
	float: right;
}

.modal{
	width: 400px;
}

.gallery-tweet .simple-tweet {
	width: 350px !important;
}

.swift-media-gallery{
	overflow: hidden;
}

.more-tweet-actions .dropdown .dropdown-menu{
	margin-left: -80px !important;
}

.dropdown-caret .caret-inner,
.dropdown-caret .caret-outer{
	display: none;
}