.front-container{
	min-width: 0;
	min-height: 0;
}

/* Suppression de la banière de cookies */
body .eu-cookie-notice, .BannersContainer{
	display:none;
}

/* Header */
.topbar{
	/*display: none;*/
}

.topbar .global-nav .container{
	width: 400px;
	min-width: 0;
}

.topbar .global-nav{
	/*width: 440px;*/
	/*overflow: hidden;*/
}

.topbar .pull-right{
	width: 175px;
}

/*
.topbar div[role="navigation"]{
	display:none;
}
*/

/* On cache l'icone de chargement qui faisait decendre le menu */
.topbar h1.bird-topbar-etched{
	display: none !important;
}

/*
.topbar .pull-right div[role="search"]{
	display: none;
}
*/

.topbar .topbar-divider{
	display: none;
}

.global-nav-inner .pushstate-spinner{
	width: 0;
	height: 0;
}

.pull-right .nav{
	/*display:none;*/
	margin-right: 0px !important;
}

.form-search{
	margin-right: 10px !important;
}


#signout-button{
	display: none;
}

.global-nav .form-search .dropdown-menu{
	left: -150px !important;
}

.global-nav .form-search .dropdown-menu .dropdown-caret{
	display: none;
}


/* On cache le menu le paramètres */
.pull-right .nav{
	display:none;
}

/* On rééquilibre l'icone en enveloppe au centre */
.pull-right .dm-nav{
	margin-left:15px;
}

/* Footer */
.footer{
	display: none;
}

/* Connexion / Inscription */
.front-welcome{
	display:none;
}

.front-card{
	position: relative;
	margin: 0 auto;
	width: 400px;
	top: 0;
	left: 0;
}


.front-card .front-signin {
	float: none;
    position: relative;
    margin: 65px auto 0 auto;
    top: 0;
    left: 0;
}

.front-card .front-signup {
	float: none;
    position: relative;
    margin: 35px auto 0 auto;
    top: 0;
    left: 0;
}

.front-page .front-card {
	margin-top: auto;
}

/* Page principale */
.wrapper, .wrapper-narrow, .wrapper-permalink{
	width: 400px;
}

.dashboard{
	display: none;
}

.content-main {
	float: none;
	width: 400px;
	margin: 0 auto;
}

#global-tweet-dialog-dialog{
	width: 400px;
}

#tweet-box-global{
	width: 350px;
}

.geo-picker{
	width: 150px;
}

.gallery-container .swift-media-gallery{
	width: 400px !important;
	min-width: 0;
}

.media-image{
	max-width: 380px !important;
	margin-top:10px !important;
}

#profile_popup #profile_popup-dialog{
	width: 400px !important;
}

.profile-card.profile-header{
	width: 400px !important;
}

.twttr-dialog, .dm-dialog{
	width: 400px !important;
	min-width: 0 !important;
}

.dm-dialog .dm-tweetbox .tweet-content .tweet-box#tweet-box-dm-conversation{
	width: 352px !important;
}

#keyboard-shortcut-dialog-dialog{
	width:400px !important;
}

.inline-reply-tweetbox.swift .tweet-box{
	width: 300px !important;
}

#close-all-button{
	right: -15px;
}

.topbar-tweet-btn{
	margin-right: 20px !important;
	float: right;
}

.modal{
	width: 400px;
}

.gallery-tweet .simple-tweet {
	width: 350px !important;
}

.swift-media-gallery{
	overflow: hidden;
}

.more-tweet-actions .dropdown .dropdown-menu{
	margin-left: -80px !important;
}

.dropdown-caret .caret-inner,
.dropdown-caret .caret-outer{
	display: none;
}

/* Page profil */

/* On réduit le padding des infos (followers...) */
body .profile-card.profile-header .stats a{
	padding-right:10px;
}

/* Tendances */
#timeline .header-inner{
	overflow: hidden;
}

#content-main-heading{
	float: left;
}

#bouton_tendances{
	float: right;
}

#block_tendances{
    opacity: 0;  
    height: 0;
    overflow: hidden;
}

#block_tendances.show{
	opacity: 1; 
	height: auto;
}

#block_tendances .close{
	background-position: -80px -510px;
	position: absolute;
	top: 10px;
	right: 10px;
	text-indent: -999999px;
	cursor: pointer;
}

.Gallery:before {
	display: none;
}

.Gallery-content {
	margin-top: 100px;
}

body .global-nav .t1-form.form-search {
	width: 170px;
}

/* Corrections nouveau look 16/01/2014 */
.rosetta #page-outer{
	overflow-x:hidden;
}

.rosetta .global-nav{
	width: 100%;
}

.rosetta .nav.right-actions{
	display: block !important;
}

.rosetta .nav.right-actions .topbar-tweet-btn{
	margin-right: 0 !important;
}

.rosetta .pull-right div[role=search]{
	/*display: none;*/
	float: none;
	position: absolute;
	margin-top: 45px;
	width: 100%;
	left: 0;
}

.rosetta .pull-right div[role=search] form{
	width: 100%;
}

.rosetta .global-nav #global-nav-search .search-input{
	width: 100%;
	box-sizing: border-box;
}

.rosetta .global-nav .search-input{
	height: 30px;
}

.rosetta #global-nav-search{
	margin-left: -7px;
}

.rosetta .wrapper, .rosetta .wrapper-narrow{
	padding: 88px 0 15px;
	max-width: 400px;
}

.rosetta .global-nav .form-search .dropdown-menu{
	left: 0 !important;
	width: 100%;
	margin : 0;
}

.rosetta .Gallery-content,
.rosetta .GalleryTweet .simple-tweet{
	width: 400px !important;
	min-width: 400px !important;
	box-sizing: border-box;
}

.rosetta .geo-picker{
	width: auto !important;
}

.rosetta .stats a strong{
	font-size: 16px;
}

.rosetta .profile-card.profile-header .stats a,
.rosetta #profile_popup .stats a{
	padding: 6px;
}

.rosetta .tweet-box-extras button.btn{
	padding: 4px;
}